{% extends 'base.html' %}
{% block content %}
    <div id='front'>
        <p>这个web app框架是廖雪峰前辈的pyhton教程中写的一个教学用的Web开发框架 。</p>
        <p>前端是很野蛮粗糙的手写而成，见谅。</p>
        <p>用到了Mysql,Stroage等服务。</p>
    </div>
{% endblock %}


data = {
            'id': 100,
            'title': 'GNC 健安喜 食用肌酸 500g(进口)（特）',
            'price':'229.00',
            'cover': 'https://images-cn.ssl-images-amazon.com/images/I/41DY4jyifKL._SS40_.jpg',
            'info': $(html).find('#importantInformation').text(),
            'base':$(html).find('#detail_bullets_id').text(),
            'rated':$(html).find('.a-icon-alt').first().text(),
            'sales':$(html).find('.a-link-emphasis').first().text()

    };