<!doctype html>
<html>
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="/static/css/jblog.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <title>kworm 数据采集</title>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/markdown.js"></script>
    <script src="/static/js/to-markdown.js"></script>
    <script src="/static/js/bootstrap-markdown.js"></script>
    <script src="/static/js/jblog.js"></script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% block head %}
    {% endblock %}
    </head>
    <body>
        
        <div id="container">
            <!--<audio src="/static/mp3/tashuo.mp3" preload="auto" autobuffer loop="true" controls></audio>-->
            <div id="inner">
        {% block content %}
        {% endblock %}
                <div id="fright">
                    <div class="f-oi">
                        <p class="footer-text">Powered by kworm</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="manage">

                            
            <ul>
                <li>
            {% if user %}
            <p><a href="/signout">Logout</a></p>
            {% else %}
            <p><a href="/signin">Login</a></p>
            {% endif %}
            </li>
                <li><p><a href="/manage/add_blog">Add</a></p></li>
                {% if blog and user %}
                <li><p><a href="" data-toggle="modal" data-target="#confirm">Delete</a></p></li>
                {% endif %}
                {% if blog and user %}
                <li><p><a href="/manage/edit/{{blog.id}}">Edit</a></p></li>
                {% endif %}
            </ul>
        </div>
        {% block confirm %}
        {% endblock %}
    </body>
</html>
