{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/jqcloud.css" />
    <script type="text/javascript" src="/static/js/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.2.3/echarts.js"></script>

{% endblock %}
{% block content %}
    <div id="front">
       <div style="float: left;width: 50%">
       		<img src="{{ blog.cover}}">
       </div>
       <div style="float: right;width: 50%">
       		<div>
	       		<h3>{{ blog.title}}</h3>
	       		<p>{{ blog.price }}</p>
       		</div>
       		<div>
       			<p>{{blog.info}}</p>
       			<p>{{blog.base}}</p>
       		</div>
       </div>
    </div>
    <div id="front">
       <div id="main" style="width: 100%;height:400px;"></div>
	    <script type="text/javascript">
	        // 基于准备好的dom，初始化echarts实例
	        var myChart = echarts.init(document.getElementById('main'));
	        var date = [
	            {% for data in datas %}
					{{data.addtime}},
	            {% endfor %}
	        ];
	        var price = [
	            {% for data in datas %}
					{{data.price}},
	            {% endfor %}
	        ];
	        var sales = [
	            {% for data in datas %}
					{{data.sales}},
	            {% endfor %}
	        ];
	        var rated = [
	            {% for data in datas %}
					{{data.rated}},
	            {% endfor %}
	        ];
	        // 指定图表的配置项和数据
	        option = {
			    title: {
			        text: '性价比设计图表报告'
			    },
			    tooltip : {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['价格','销量','评价']
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    xAxis : [
			        {
			            type : 'category',
			            boundaryGap : false,
			            data : date
			        }
			    ],
			    yAxis : [
			        {
			            type : 'value'
			        }
			    ],
			    series : [
			        {
			            name:'评价',
			            type:'line',
			            stack: '总量',
			            areaStyle: {normal: {}},
			            data:rated
			        },
			        {
			            name:'销量',
			            type:'line',
			            stack: '总量',
			            areaStyle: {normal: {}},
			            data:sales
			        },
			        {
			            name:'价格',
			            type:'line',
			            stack: '总量',
			            label: {
			                normal: {
			                    show: true,
			                    position: 'top'
			                }
			            },
			            areaStyle: {normal: {}},
			            data:price
			        }
			    ]
			};
	        // 使用刚指定的配置项和数据显示图表。
	        myChart.setOption(option);
	    </script>
    </div>
{% endblock%}
